body{
  font-family: 'Lato', sans-serif;
}

h1{
  font-size:60px;
}

h3{
  font-size:25px;
}

li{
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  margin-right:15%
}

hr{
  position:absolute;
  text-align:center; margin: 0 auto;
  background-color: grey;
  height:2px;
  width:80%;
  margin-left:10%;
}

.latest_update{
  color:red;
  font-weight: 700;
  animation-duration: 5s;
}

#about_me{
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  margin-top:9%;
  width: 60%;
  height: 70%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}


.header_others{
  position:relative;
  width:100%;
  height:100%;
  background-color:#F5FFFA;
}

.job_holder{
  position:relative;
  height:auto;
  overflow:auto;
}

.list_bar{
  margin-top:0%;
}

.company_logo{
  vertical-align: top;
  float: left;
  margin-top: 1%;
  width: 20%;
  position: relative;
}
.company_logo img{
  height:3%;
  display: inline-block;
  vertical-align: top;
  padding-left:50%;
}

.job_title{
  font-size:26px;
}

.date{
  font-size:16px;
  float: right;
  margin-right: 15%;
  margin-top: 1%;
}

.job_description{
  margin-top: 1%;
  margin-bottom:2%;
  width: 80%;
  float:right;
}

#experience_content{
  position:relative;
  height:200%;
  width:100%;
    background: red; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
   background: linear-gradient(#F5FFFA, #FFFFF0); /* Standard syntax (must be last) */
}
#experience_picture{
  position: absolute;
  width:40%;
  height:65%;
  right:7%;
  top:20%;
  -webkit-animation-delay: 1.1s;
}

#experience_picture img{
  position: absolute;
  width:100%;
  height:100%;
}

#section1{
  background-image: url(../image/background.png);
  width: 100%;
  height: 100%;
  background-size:cover;
  position: relative;
}

.footer{
  position:relative;
  background-color:black;
  width:100%;
  height:8%;
}

.footer div{
  display:inline-block;
}

#copyRight{
  float:left;
  padding-top: 2%;
  width: 30%;
  color: white;
  text-align: center;
  vertical-align: middle;
  height: 100%;
}

#go_up{
    width:30%;
    height: 100%;
    text-align: center;
}

.footer img{
  position:relative;
  width:40px;
  height:40px;
  left:48%;
}

#myCarousel {
  position: relative;
}

#myCarousel a{
  background-image: none;
}

.scroller{
  width: 40px;
  height:40px;
  top: 50%;
  left: 35%;
  position:absolute;
}

.carousel-inner{
  position: relative;
  width:100%;
  height:100%;
}

.carousel-indicators li{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-top: 10px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000\9;
  background-color: rgba(0,0,0,0);
  border: 1px solid #c26969;
  border-radius: 10px;
}
.carousel-indicators .active{
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #b1b1b1;
}

#carousel-inner h2{
  position:absolute;
  padding-top:30px;

}

.carousel_title{

  margin-left:5%;
  margin-top:5%;
  display:inline-block;
  border-left: 5px solid yellow;

}

#skillSet{
  position: relative;
  margin-top:4%;
  width: 70%;
  height: 70%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.abstract p{
    color: white;
    font-size: 35px;
    margin-top: 30%;
    text-align: center;
}

.level_indicator{
  height:25px;
  width:25px;
}

#backEnd{
  top: 50%;
}

#database{
  left: 33.33%;
}

#python{
  left: 33.33%;
  top:50%;
}

#frontEnd{
  left: 66.66%;
}

#others{
  left: 66.66%;
  top:50%;
}

#java, #frontEnd, #python,#database, #backEnd, #others{
  position: absolute;
  height:50%;
  width:33.33%;
}


#java, #frontEnd, #python{
  background-color:rgb(46, 65, 122);
}

#java p, #frontEnd p, #python p{
  margin-left:30%;
  margin-right:30%;
  border-bottom: 5px solid red;
}

#database, #backEnd, #others{
  background-color: #BEC9DC;
}

#database p, #backEnd p, #others p{
  color: #404040;
  margin-left:30%;
  margin-right:30%;
  border-bottom: 5px solid red;
}

#java_detail, #frontEnd_detail, #python_detail, #database_detail, #backEnd_detail, #others_detail{
    position:absolute;
    height:50%;
    width:33.33%;
    display:none;
}

#java_detail ul, #frontEnd_detail ul, #python_detail ul, #database_detail ul, #backEnd_detail ul, #others_detail ul{
  margin-top: 20%;
  margin-bottom: 20%;
}

#java_detail{
  background-color: #cdcdb1;
  background: linear-gradient(to bottom, rgba(46, 65, 122,0.5), rgba(46, 65, 122,0.8)); /*Standard*/
}

#frontEnd_detail{
  background-color: #BEC9DC;
  background: linear-gradient(to bottom, rgba(46, 65, 122,0.5), rgba(46, 65, 122,0.8)); /*Standard*/
  left: 66.66%;
}

#python_detail{
  background-color: #BEC9DC;
  background: linear-gradient(to bottom, rgba(46, 65, 122,0.5), rgba(46, 65, 122,0.8)); /*Standard*/
  left: 33.33%;
  top: 50%;
}

#database_detail{
  background: linear-gradient(to bottom, rgba(190, 201, 220,0.1), rgba(190, 201, 220,0.9)); /*Standard*/
  left: 33.33%;
}

#backEnd_detail{
  background: linear-gradient(to bottom, rgba(190, 201, 220,0.1), rgba(190, 201, 220,0.9)); /*Standard*/
  top: 50%;
}

#others_detail{
  background: linear-gradient(to bottom, rgba(190, 201, 220,0.1), rgba(190, 201, 220,0.9)); /*Standard*/
  top: 50%;
  left:66.66%;
}


.first_item{
  font-size: 27px;
  color: #ff3333;
  -webkit-animation-delay: 0.4s;
}
.second_item{
    font-size: 20px;
    color: #ff0000;
    -webkit-animation-delay: 0.6s;
}
.third_item{
    font-size: 25px;
    color: #ff0000;
    -webkit-animation-delay: 0.8s;
}
.forth_item{
    color: #ff0000;
    -webkit-animation-delay: 1.0s;
}
.fifth_item{
    font-size: 25px;
    color: #ff0000;
    -webkit-animation-delay: 1.2s;
}

.level_holder{
  margin-top: 20%;
}

#section2{
  width: 100%;
  height: 120%;
  background-color: #EDEFF5;
  position:relative;
}

#title{
  font-size: 70px;
  color: white;
  text-align: center;
  padding-top: 180px;
}

#selfie{
  position:absolute;
  width: 100px;
  height:100px;
  bottom:-0px;
  right:50%;
  z-index: 1;
}
#subTitle{
  font-size: 30px;
  color: grey;
  text-align: center;
  padding-top: 20px;
}

.iconImage{
  width: 40px;
  height:40px;
  margin-left: 15px
}

.indexBar{
 /*background: red; /* For browsers that do not support gradients */
 background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
 background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
 background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
 background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.8)); /* Standard syntax (must be last) */
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.indexBar_others{

  background-color:black;
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.indexBar_others div, .indexBar div{
  margin-top:1%;
  margin-bottom:1%;
}

.indexbar a:hover{
  border-bottom: 2px solid #618673;
}

.section_title{
  position:relative;
  margin-left: 7%;
  margin-top:10%;

}
#experience_describe{
  position:relative;
  margin-left:12%;
  margin-top:3%;
  width:40%;
  -webkit-animation-delay: 0.8s;
}
#iconnn{
  width: 20%;
  color: white;
  float: right;
}

#sectionLink{
width: 50%;
color: white;
font-size: 20px;
padding-left: 10%;
float: left;
margin-top: 1.5%;
}

#sectionLink a {
  font-size: 20px;
  text-decoration: none;
  padding: 15px;
  /*background-color: #286090;*/
  color: white;
  letter-spacing: 1.4px;
  transition: all 0.25s ease-in-out;
}

#nameLink{
width: 20%;
color: white;
font-size: 30px;
padding-left: 5%;
float: left;
}

#nameLink a{
  word-spacing: 10px;
  color:white;
  text-decoration:none;
  letter-spacing: 2px;
}
